@import "tailwindcss";

@theme {
  --font-montserrat: var(--font-montserrat);
  --font-zalando-sans-expanded: var(--font-zalando-sans-expanded);
}

/* Animation de balancement */
@keyframes swing {
  0%, 100% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(3deg);
  }
}

.animate-swing {
  animation: swing 2s ease-in-out infinite;
  transform-origin: top center;
}

